* {
    box-sizing: border-box;
    
}

:root {
    --gray: #33393f;
    --blue: #00ffff;
}

body {
    background-color: #d9dcd6;
}

header {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    background-color: var(--gray);
    width: 100%;
}

h1 {
    display: flex;
    justify-content: flex-end;
    background-color: aqua; 
    color: var(--gray);
    
    padding: 10px 15px 10px 80px;
   
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: var(--gray);
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
    justify-content: end;
    margin-left: 25px;   
    
}

img {
width: 100%;
    }

.about-me{
display: flex;
align-items: flex-start;
min-width: min-content;

}

.aside-box{
display: flex;
text-align: right;
padding: 50px 20px 20px 100px;
color: darkcyan;
}

.about-main{
max-width: 80%;
margin: 3% 0px 5px 5px;
}

.v-line {
    border-left: 5px solid darkcyan;
    height: auto;
    padding: 10px 0px 25px 20px;
}

h2 {
    font-size: 68px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

li:hover {
   opacity: 50%; 
}
a {
    color: aqua;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
   
}

p{
    line-height: 1.6;
    color: darkcyan;
    font-size: 16px;
   }
   


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 648px) {
    nav ul li
    {
      flex-direction: row;
      justify-content: center;
      font-size: 16px;
      
    }
    header{
        width: 100%;
    }
    .aside-box h2 {
    font-size: 28px;
    }
    .aside-box {
    margin-left: -90px;
    margin-right: -15px;
    }
    .v-line{
    padding-left: -25px;
    }
  }